Project/.idea/
Project/Library/
Project/Logs/
Project/Packages/
Project/ProjectSettings/
Project/Assets/Plugins/Editor/JetBrains.meta
Project/Assets/Plugins/Editor/JetBrains/
Project/Assets/Plugins/Editor.meta
Project/Project.sln
